body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg,#f5ff82,rgb(255, 46, 35));
    align-items: center;
    position: relative;
}
    
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 450px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    background: transparent;
    border-radius: 5px;
}
    
.quadro {
    height: 120px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 5px;   
    color: #222;
    background-color: rgba(180,180,180, .4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.quadro span {
    font-weight: bolder;
    font-size: 40px;
}

.quadro span.tempo {
    font-size: 18px;
}

#theme {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 60px;
    height: 30px;
    border: 5px solid #aaa;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

#theme::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: 5px;
    top: 5px;
    transition: 1s;
}

body.dark #theme::before {
    transform: translateX(30px);
    background-color: #222;
    transition: 1s;
}

body.dark {
    background: linear-gradient(45deg,#3e44a3, #000015);
}

#diaAtual{
    font-size: 26px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    width: 300px;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
}


