body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg,#eaff97,rgb(255, 150, 80));
    align-items: center;
}
    
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 450px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    background: transparent;
    border-radius: 5px;
}
    
.quadro {
    height: 120px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 5px;   
    color: #222;
    background-color: rgba(180,180,180, .4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.quadro span {
    font-weight: bolder;
    font-size: 40px;
}

.quadro span.tempo {
    font-size: 18px;
}

#theme {
    width: 60px;
    height: 30px;
    border: 5px solid #fff;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

#theme::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: 5px;
    top: 5px;
}

body.dark #theme::before {
    transform: translateX(30px);
}

body.dark {
    background: linear-gradient(45deg,#28375c, #09091b);
}